
@{
    ViewData["Title"] = "CreateMember";
}

<h2>Create Professor and student</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <form for="CreateMember" method="post">
            <div class="form-group">
                <label for="RoleName" class="control-label">User Role:</label>
                <select class="selectpicker form-control" data-style="btn-danger" name="RoleName">
                    <option>Choose</option>
                    <option value="student">Student</option>
                    <option value="professor">Professor</option>
                    <option value="registrar">Registrar</option>
                </select>
                <span for="RoleName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="FirstName" class="control-label">First Name:</label>
                <input type="text" name="FirstName" class="form-control" />
                <span for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="LastName" class="control-label">Last Name:</label>
                <input type="text" min="2" max="4" name="LastName" class="form-control" />
                <span for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="UserName" class="control-label">User Name:</label>
                <input type="text" name="UserName" class="form-control" />
                <span for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Password" class="control-label">Password:</label>
                <input type="password" name="Password" class="form-control" />
                <span for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create Member" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <a href="/Home/Index/">Back to List</a>
</div>
